<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="/static/icon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <title>Bulls and Cows</title>

    </head>

    <body>
        <header class="mb-3 text-center">
            <h1>This is Bulls and Cows!</h1>
        </header>
        <main>
            <img class="img1" alt="animals" src="/static/bullsandcows.png">
            <div>
                <h2 class="text-center">Rules are simple:</h2>
            </div>
            <div class="text-center">
                <ul>
                    <li>The computer is going to generate a random 4 digit number, you must guess it!</li>
                    <li>The number that you input must be a 4 digit positive number and can not have repeated digits</li>
                    <li>For each digit in the computer number but in the wrong place, you have a Cow</li>
                    <li>For each digit in the computer number and in the right place, you have a Bull</li>
                    <li>Once the number is guessed, return to this page to generate a new one</li>
                </ul>
            </div>
            <div>
                <p class="text-center fs-4">The number of attempts, the numbers you already tried, the bulls and the cows are going to be showed on screen</p>
            </div>
            <div>
                <p class="text-center fs-4">Good luck! guess the number in as few attempts as you can!</p>
            </div>
        </main>
        <footer>
            <img class="img2" alt="letsgo" src="/static/down.png">
            <form action="/play" method="POST">
                <div class="text-center">
                    <button class="btn btn-dark btn-lg" type="submit">Lets play!</button>
                </div>
            </form>
            <br>
        </footer>
    </body>
</html>
